<nav>

    <!-- Logo -->
    <a href=""><img src="https://scriptchain.co/assets/company-logo/scriptchain-health-logo.svg" alt=""></a>

    <!-- Upper ul groups the elements of the navigation -->

    <ul>
        <li><Button>About</Button>

            <!-- Lower ul groups the elements of the dropdowns -->

            <ul>
                <li><a href="">What is ScriptChain Health</a></li>
                <li><a href="">Blog Page</a></li>
                <li><a href="">Capability Statement</a></li>
                <li><a href="">Our Team</a></li>
            </ul>
        </li>
        <li><Button>Partnerships</Button>
            <ul>
                <li><a href="">Become a Partner</a></li>
            </ul>
        </li>
        <li><Button>Providers</Button></li>
        <li><Button>Patients</Button></li>
        <li><Button>Support</Button>
            <ul>
                <li><a href="">Request access</a></li>
                <li><a href="">FAQs</a></li>
            </ul>
        </li>
        <li><Button>Contact Us</Button></li>
        <li><Button id="login">Login</Button></li>
        
    </ul>
</nav>