<div>
    <!-- Upper footer (Contact/About)-->
    <div class="contact-about">
        <div class="about-container">
            <h6 class="about">About</h6>
            <p><a href="">What is ScriptChain Health?</a></p>
            <p><a href="">Explore Our Blog</a></p>
            <p><a href="">Capability Statement</a></p>
            <p><a href="">Who We Are</a></p>
        </div>
        <div class="partnerships-container">
            <h6 class="partnerships">Partnerships</h6>
            <p><a href="">Become a Partner</a></p>
        </div>
        <div class="providers-container">
            <h6 class="providers">Providers</h6>
            <p><a href="">Information</a></p>
            <p><a href="">Provider Portal</a></p>
        </div>
        <div class="patients-container">
            <h6 class="providers">Patients</h6>
            <p><a href="">Information</a></p>
            <p><a href="">Patient Portal</a></p>
        </div>
        <div class="support-container">
            <h6 class="support">Support</h6>
            <p><a href="">FAQ</a></p>
            <p><a href="">Request Access</a></p>
        </div>
        <div class="contact-container">
            <p>Need to get in touch?</p>
            <p><a  href=""><button class="contact-button">Contact</button></a></p>
            <p><label class="support-page" for="">For technical issues, please visit our <a href="">support page.</a></label></p>
        </div>
    </div>

    <!-- Lower footer (Terms & Canditions) -->

    <div class="terms-conditions">
        <label for="">© 2022 ScriptChain Health. All rights reserved. </label>
        <a href="">Privacy Policy</a>
        <label for=""> | </label>
        <a href="">Terms & Conditons</a>
    </div>
</div>