<!-- H1  -->
<h1>ScriptChain Health Blog</h1>

<!-- Drop down box (Explore by Category) -->
<div class="dropdown">
    <select name="Explore" id="explore">
        <option value="category">Explore by Category</option>
    </select>
</div>

<!-- Cards(Blog Post)  -->

<div class="container">
    <section class="grid-container">
        
        <!-- 9 hard coded cards -->
        <!-- Blue background (class) refers to the different style of class -->
        <div class="grid-item grid-item-1">
            <div class="card-image image-1"></div>
            <h2 class="h2-explore h2-item-1">>Category</h2>
            <h2 class="article-title">Article Title</h2>
            <p class="read-more-wrap">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem cum veniam! Facere nemo,
                aliquam quod sint voluptas accusamus commodi nobis iure, tempore vitae totam, inventore numquam
                repellendus minus quisquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium in deserunt facere error earum excepturi quo iure? Doloremque tenetur inventore quisquam a suscipit alias eveniet culpa voluptatibus commodi consequatur? </p>
            <a class="read-more" (click)='callfun()'></a>
        </div>

        <div class="grid-item grid-item-2">
            <div class="card-image image-2"></div>
            <h2 class="h2-explore h2-item-2">>Category</h2>
            <h2 class="article-title">Article Title</h2>
            <p class="read-more-wrap">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem cum veniam! Facere nemo,
                aliquam quod sint voluptas accusamus commodi nobis iure, tempore vitae totam, inventore numquam
                repellendus minus quisquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium in deserunt facere error earum excepturi quo iure? Doloremque tenetur inventore quisquam a suscipit alias eveniet culpa voluptatibus commodi consequatur? </p>
            <a class="read-more" (click)='callfun()'></a>
        </div>

        <div class="grid-item grid-item-3">
            <div class="card-image image-3">
                <h2 class="inside-pic-text">What Industry is Saying</h2>
            </div>
            <p class="read-more-wrap blue-background">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem cum veniam! Facere nemo,
                aliquam quod sint voluptas accusamus commodi nobis iure, tempore vitae totam, inventore numquam
                repellendus minus quisquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium in deserunt facere error earum excepturi quo iure? Doloremque tenetur inventore quisquam a suscipit alias eveniet culpa voluptatibus commodi consequatur? </p>
            <a class="read-more blue-background" (click)='callfun()'></a>
        </div>

        <div class="grid-item grid-item-4">
            <div class="card-image image-4"></div>
            <h2 class="h2-explore h2-item-4">>Category</h2>
            <h2 class="article-title">Article Title</h2>
            <p class="read-more-wrap">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem cum veniam! Facere nemo,
                aliquam quod sint voluptas accusamus commodi nobis iure, tempore vitae totam, inventore numquam
                repellendus minus quisquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium in deserunt facere error earum excepturi quo iure? Doloremque tenetur inventore quisquam a suscipit alias eveniet culpa voluptatibus commodi consequatur? </p>
            <a class="read-more" (click)='callfun()'></a>
        </div>

        <div class="grid-item grid-item-5">
            <div class="card-image image-5"></div>
            <h2 class="h2-explore h2-item-5">>Category</h2>
            <h2 class="article-title">Article Title</h2>
            <p class="read-more-wrap">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem cum veniam! Facere nemo,
                aliquam quod sint voluptas accusamus commodi nobis iure, tempore vitae totam, inventore numquam
                repellendus minus quisquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium in deserunt facere error earum excepturi quo iure? Doloremque tenetur inventore quisquam a suscipit alias eveniet culpa voluptatibus commodi consequatur? </p>
            <a class="read-more" (click)='callfun()'></a>
        </div>

        <div class="grid-item grid-item-6">
            <div class="card-image image-6"></div>
            <h2 class="h2-explore h2-item-6">>Category</h2>
            <h2 class="article-title">Article Title</h2>
            <p class="read-more-wrap">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem cum veniam! Facere nemo,
                aliquam quod sint voluptas accusamus commodi nobis iure, tempore vitae totam, inventore numquam
                repellendus minus quisquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium in deserunt facere error earum excepturi quo iure? Doloremque tenetur inventore quisquam a suscipit alias eveniet culpa voluptatibus commodi consequatur? </p>
            <a class="read-more" (click)='callfun()'></a>
        </div>

        <div class="grid-item grid-item-7">
            <div class="card-image image-7">
                <h2 class="inside-pic-text">What Industry is Saying</h2>
            </div>
            <p class="read-more-wrap blue-background">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem cum veniam! Facere nemo,
                aliquam quod sint voluptas accusamus commodi nobis iure, tempore vitae totam, inventore numquam
                repellendus minus quisquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium in deserunt facere error earum excepturi quo iure? Doloremque tenetur inventore quisquam a suscipit alias eveniet culpa voluptatibus commodi consequatur? </p>
            <a class="read-more blue-background" (click)='callfun()'></a>
        </div>

        <div class="grid-item grid-item-8">
            <div class="card-image image-8"></div>
            <h2 class="h2-explore h2-item-8">>Category</h2>
            <h2 class="article-title">Article Title</h2>
            <p class="read-more-wrap">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem cum veniam! Facere nemo,
                aliquam quod sint voluptas accusamus commodi nobis iure, tempore vitae totam, inventore numquam
                repellendus minus quisquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium in deserunt facere error earum excepturi quo iure? Doloremque tenetur inventore quisquam a suscipit alias eveniet culpa voluptatibus commodi consequatur? </p>
            <a class="read-more" (click)='callfun()'></a>
        </div>

        <div class="grid-item grid-item-9">
            <div class="card-image image-9"></div>
            <h2 class="h2-explore h2-item-9">>Category</h2>
            <h2 class="article-title">Article Title</h2>
            <p class="read-more-wrap">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem cum veniam! Facere nemo,
                aliquam quod sint voluptas accusamus commodi nobis iure, tempore vitae totam, inventore numquam
                repellendus minus quisquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium in deserunt facere error earum excepturi quo iure? Doloremque tenetur inventore quisquam a suscipit alias eveniet culpa voluptatibus commodi consequatur? </p>
            <a class="read-more" (click)='callfun()'></a>
        </div>

    </section>
</div>

<!-- Paginatior -->

<div class="pagination">
    <div class="left">
        <a class="left" href="">&#8592; Prev</a>
    </div>
    <div class="middle">
        <a class="active" href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a href="">7</a>
        <a href="">8</a>
    </div>
    <div class="right">
        <a class="right" href="">Next &#8594;</a>
    </div>
</div>